{% extends 'base.html.twig' %}

{% block body %}

    <main class="container">
    
        {{ form_start(form) }}

        {{ form_errors(form) }}

        {{ form_widget(form) }}

        <button type="submit" class="btn btn-primary">Devenir partenaire</button>

        {{ form_end(form) }}
        
    </main>
    
{% endblock %}