<h1>Facture</h1>

<p><strong>{{ invoice.customerName }}</strong></p>

<table>
    <thead>
        <tr>
            <th>Désignation</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        </tr>
    </tbody>
</table>