<form action="{{ path('admin.property.delete', {id: property.id}) }}" method="POST">
  <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ property.id) }}">
  <button class="btn btn-danger">{{ button_label | default('supprimer') }}</button>
</form>