{% extends 'base.html.twig' %}

{% block body %}
  
<main class="container property-edit-page">
  <h1>{{ property.type.label }}</h1>

  {{ include('pages/admin/property/_form.html.twig', {button_label: 'Modifier le bien'}) }}
</main>

{% endblock %}