{% extends 'base.html.twig' %}

{% block body %}
  
<main class="container property-page">

    {% if not is_open %}
        <div class="alert alert-danger">
            Nous vous informent que les réservation sont ferméer jusqu'a la prochaine saison
        </div>
    {% endif %}
    
    <h1>{{ property.type.label }}</h1>

    <div class="body">
        {% if property.imageFile %}
            <img src="{{ vich_uploader_asset(property) }}" alt="">
        {% else %}
            <img src="{{ property.imageName }}" alt="">
        {% endif %}
        <section>
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}

            <h2>Réserver</h2>
            
            {% include 'pages/booking/_form.html.twig' %}
        </section>
    </div>
</main>
  
{% endblock %}
