{% extends 'base.html.twig' %}

{% block body %}
  
  <main class="container">

    {% if alerts is empty %}
      <h1 class="text-center">Aucune alertes pour le moment</h1>
    {% else %}
      <h1 class="text-center">Toute les Alertes</h1>

      <ul class="alert-items">
      
        {% for alert in alerts %}
          <li class="alert alert-item">
            <p>
              <strong>{{ alert.title }}</strong>
              <br>
              <span>{{ alert.publishedAt | date('Y-m-d') }}</span>
            </p>
            <div class="alert-item__actions">
              <a href="{{ path('alert.seen', {id: alert.id}) }}" class="btn btn-success">
                <i class="fa-solid fa-check"></i>
              </a>
            </div>
          </li>
        {% endfor %}
      
      </ul>
    {% endif %}

  </main>

{% endblock %}