<header class="navbar">

  <nav class="navbar-nav">

    <a href="{{ path('home') }}">l'Espadrille Volante</a>

    <p>
        {% if is_granted('ROLE_ADMIN') %}
          {{ render(controller(
            'App\\Controller\\AlertController::alert'
          )) }}
        {% endif %}
        
        <a class="btn btn-danger" href="{{ path('logout') }}">
          <i class="fa-solid fa-arrow-right-from-bracket"></i>
        </a>
    </p>

  </nav>

</header>